// MAIN
.btn {
  border-style: none;
  border-radius: 5px;

  font-size: $input-btn-font-size;
  line-height: $input-btn-line-height;
  padding: $input-btn-padding-y $input-btn-padding-x;

  @include btn-variant($gray-400)
}

.btn-lg {
  font-size: $input-btn-font-size-lg;
  line-height: $input-btn-line-height-lg;
  padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
}

.btn-sm {
  font-size: $input-btn-font-size-sm;
  line-height: $input-btn-line-height-sm;
  padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
}

.btn-block {
  width: 100%;
}

// COLORS
@each $color, $value in $colors {
  .btn-#{$color} {
    @include btn-variant($value);
  }
}

@each $color, $value in $colors {
  .btn-outline-#{$color} {
    @include btn-outline-variant($value);
  }
}
