@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

html{
    line-height: 1.5;
  
    @media only screen and (min-width: 0) {
      font-size: 14px;
    }
  
    @media only screen and (min-width: $medium-screen) {
      font-size: 14.5px;
    }
  
    @media only screen and (min-width: $large-screen) {
      font-size: 15px;
    }

    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: $h1-font-size;
    line-height: 110%;
    margin: ($h1-font-size / 1.5) 0 ($h1-font-size / 2.5) 0;
}

h2 {
    font-size: $h2-font-size;
    line-height: 110%;
    margin: ($h2-font-size / 1.5) 0 ($h2-font-size / 2.5) 0;
}

h3 {
    font-size: $h3-font-size;
    line-height: 110%;
    margin: ($h3-font-size / 1.5) 0 ($h3-font-size / 2.5) 0;
}

h4 {
    font-size: $h4-font-size;
    line-height: 110%;
    margin: ($h4-font-size / 1.5) 0 ($h4-font-size / 2.5) 0;
}

h5 {
    font-size: $h5-font-size;
    line-height: 110%;
    margin: ($h5-font-size / 1.5) 0 ($h5-font-size / 2.5) 0;
}

h6 {
    font-size: $h6-font-size;
    line-height: 110%;
    margin: ($h6-font-size / 1.5) 0 ($h6-font-size / 2.5) 0;
}

em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capital {
    text-transform: capitalize;
}

.text-centered {
    text-align: center;
}

.note {

    @media only screen and (min-width: 0) {
        font-size: 11px;
      }
    
      @media only screen and (min-width: $medium-screen) {
        font-size: 11.5px;
      }
    
      @media only screen and (min-width: $large-screen) {
        font-size: 12px;
      }
}

.flow-text{
    $i: 0;
    @while $i <= $intervals {
      @media only screen and (min-width : 360 + ($i * $interval-size)) {
        font-size: 1.2rem * (1 + (.02 * $i));
      }
      $i: $i + 1;
    }
  
    // Mobile
    @media only screen and (max-width: 360px) {
      font-size: 1.2rem;
    }
  }

// Colors
@each $color, $value in $colors {
    .text-#{$color} {
        color: $value !important;
    }
}

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}
